@import "./colors";
@import "./dimentions";

@mixin toolbar {
  height: $toolbar-height;
  background: $toolbar-background;
}

@mixin tool-button-drawer {
  width: $toolbar-height;
  height: $toolbar-height;
  border-width: 0;
}