@import "lib/colors";

body {
  font-size: 16px;
  color: $primary-dark;
}

header, footer {
  position: fixed;
  left: 0;
  right: 0;
  background: $primary-dark;
  color: $primary-light;
}

header {
  top: 0;
  height: 3rem;
}

footer {
  bottom: 0;
  height: 2rem;
}

router-view {
  position: fixed;
  top: 3rem;
  bottom: 2rem;
  left: 0;
  right: 0;

}

h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 3rem;

  position: absolute;
  left: 0;
  right:0;
}

footer span {
  display: block;
  line-height: 2rem;
  text-align: center;
}

#hamburger {
  position:absolute;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  top: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: 0;
}