<template>
    <require from="./welcome.css" as="scoped"></require>

    <div class="toolbar">
        <button class="tool-button-drawer">
            <img src="images/back-chevron.svg"></img>
        </button>

        <h3 click.delegate="itemSelected($event)">Courses</h3>
    </div>

    <ul id="courses">
        <li repeat.for="course of courses" click.delegate="courseSelected($event)" data-id.bind="course.Id">${course.Name}</li>
    </ul>

    <ul id="seminars" aria-hidden="true">
        <li repeat.for="seminar of seminars" click.delegate="seminarSelected($event)" data-id.bind="seminar.Id">${seminar.Name}</li>
    </ul>
</template>