<template>
    <h2>Welcome</h2>

    <div class="course-carosel">
        <div class="course course1">
            <img src.bind="course1.image" alt=""></img>
            <div>${course1.name}</div>
        </div>
        <div class="course course2">
            <img src.bind="course2.image" alt=""></img>
            <div>${course2.name}</div>
        </div>
        <div class="course course3">
            <img src.bind="course3.image" alt=""></img>
            <div>${course3.name}</div>
        </div>
    </div>
</template>