<template>
    <require from="./welcome.css" as="scoped"></require>

    <div class="side-menu" id="menu-drawer">
        <div class="toolbar">
            <h3>${currentTitle}</h3>

            <button class="tool-button-drawer hidden" click.delegate="back()" id="btnBack">
                <img src="images/back-chevron.svg"></img>
            </button>
        </div>

        <ul id="courses">
            <li repeat.for="course of courses" click.delegate="courseSelected($event)" data-id.bind="course.Id">${course.Name}</li>
        </ul>

        <ul id="seminars" aria-hidden="true">
            <li repeat.for="seminar of seminars" click.delegate="seminarSelected($event)" data-id.bind="seminar.Id">${seminar.Name}</li>
        </ul>
    </div>

</template>