@import "./../../../sass/lib/common";
@import "../../../sass/lib/dimentions";
@import "../../../sass/lib/colors";

.toolbar {
  @include toolbar();

  h3 {
    padding: 0;
    margin: 0;
    line-height: $toolbar-height;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.hidden {
  visibility: hidden;
}

button:focus {
  outline:0;
}

.tool-button-drawer {
  @include tool-button-drawer();
  margin-left: -0.5rem;
  position: absolute;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 380px;
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.25);

  will-change: transform;
  transition: all 0.2s ease-out;
}

#courses, #seminars, #seminar {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 2rem;
  bottom: 0;
  background: $toolbar-background;
}

#courses, #seminars {
  li {
    height: 2rem;
    background: white;
    padding-top: 1rem;
    padding-left: 1rem;

    border: $list-item-divider;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0.01rem;

    cursor: pointer;
  }

  li:after {
    content: "";
    position: absolute;
    right: 1rem;
    background-image: url('images/chevron.svg');
    width: 0.5rem;
    height: 1rem;
    background-repeat: no-repeat;
  }
}

#seminars {
  will-change: transform;
  transform: translateX(381px);
  transition: all 0.2s ease-out;
}

#seminar {
  will-change: transform;
  transform: translateX(381px);
  transition: all 0.2s ease-out;
  padding: 1rem;
}

#media {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $toolbar-background;
  transition: all 0.2s ease-out;
}

#closeMedia {
  position: absolute;
  right:1rem;
  top:1rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: whitesmoke;
  width:2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M19%206.41L17.59%205%2012%2010.59%206.41%205%205%206.41%2010.59%2012%205%2017.59%206.41%2019%2012%2013.41%2017.59%2019%2019%2017.59%2013.41%2012z%22%2F%3E%3C%2Fsvg%3E')
}

.listen-details {
  position: absolute;
  left:0;
  top:0;
  right: 0;
  bottom: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

a {
  line-height: 2rem;
  color: $link;
  text-decoration: none;
  cursor: pointer;
}