@import "./../../../sass/common";
@import "./../../../sass/dimentions";

.toolbar {
  @include toolbar();

  h3 {
    padding: 0;
    margin: 0;
    line-height: $toolbar-height;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.tool-button-drawer {
  @include tool-button-drawer();
  background: green;
  position: absolute;
}

#courses {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  li {
    height: 2rem;
    background: whitesmoke;
    border: black;
    padding-top: 1rem;
    padding-left: 1rem;
  }
}